.exercise-container {
    padding-top: 8rem; 
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .pair-exercises-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .pair-exercises-container {
    position: relative;
    z-index: 1;
  }
  
  .pair-exercises-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .pair-exercises-container.loaded {
    opacity: 1;
    transform: translateY(0);
  }
  