@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-color: #6a38c2;
    --primary-color-dark: #6132b4;
    --text-dark: #262626;
    --text-light: #737373;
    --extra-light: #e5e5e5;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.section-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section-header {
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-dark);
    text-align: center;
}

.section-header span {
    color: var(--primary-color);
}

.section-description {
    max-width: 600px;
    margin-inline: auto;
    color: var(--text-light);
    line-height: 1.75rem;
    text-align: center;
}

.btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1.09rem;
    font-weight: 550;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-color-dark);
    box-shadow: 2px 2px 10px rgba(106, 56, 194, 0.5);
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.logo span {
    color: #fa6021;
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
   /* background: linear-gradient(to right, #e2e2e2, #efefef36); */
   /* background: radial-gradient(circle, #e2e2e2, #ffffffe1); */
    font-family: "Poppins", sans-serif;
}

@media (width > 540px) {
    .steps-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .explore-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 1024px) {
    .steps-card {
        padding: 1.5rem;
    }

    .explore-card {
        padding: 1.5rem;
    }
}