.multiple-choice-container {
    background-color: #f5f5f5;
    padding: 32px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    font-variation-settings: 'wght' 400;
    text-align: unset;
  }
  
  .description, .question {
    font-size: 18px;
    margin-bottom: 15px;
    color: #727272;
  }
  
  .options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .options-container-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide el contenedor en dos columnas iguales */
    gap: 10px; /* Espacio entre las opciones */
    width: 100%;
  }
  
  .button-mc {
    width:100%;
    padding: 12px;
    margin: 5px 0;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #333;
  }
  
  .button-mc.selected {
    background-color: #512da8;
    color: #fff;
  }
  
  .button-mc:hover:not(.selected):not(:disabled) {
    background-color: rgba(106, 56, 194, 0.5);
    transform: translateY(-2px);
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .feedback {
    margin-top: 15px;
    font-size: 16px;
    color: #333;
  }
  
  .button.continuar {
    background-color: #512da8;
    color: white;
  }

  .exercise-image {
    max-width: 50%;
    border-radius: 12px;
  }

  .video_multiplechoce {
    width: 230px; /* Define el ancho que deseas */
    height: 260px; /* Define la altura que deseas */
    object-fit: cover; /* Llena el espacio manteniendo el video centrado */
    overflow: hidden; /* Recorta cualquier exceso */
    border-radius: 10%;
}
  
  @media (max-width: 600px) {
    .multiple-choice-container {
      width: 95%;
    }
  
    button {
      width: 95%;
    }

    .options-container-imgs {
      display: flex;
      flex-direction: column;
    }
    
  }
  