.logo-icon {
    width: 170px;
}
.logo-icon:hover {
    cursor: pointer;
    transform: scale(1.05); /* Aumenta el tamaño ligeramente al pasar el cursor */
}

.nav-header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-menu-btn {
    font-size: 1.5rem;
    color: var(--text-dark);
    cursor: pointer;
}

.nav-links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--extra-light);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}
.nav-links.open {
    transform: translateY(-3%);
}

.nav-links a {
    font-weight: 500;
    color: var(--text-dark);
}

.nav-links a:hover {
    color: var(--primary-color);
}