.sign-video {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 8px solid #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.continue-signal-button{
    
    border-radius: 12px;
    font-size: 1.09rem;
    font-weight: 450;
    background-color: #6a38c2;
    width: 200px;
    height: 45px;
    cursor: pointer;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    background-color: var(--primary-color);
    transition: 0.3s;
    margin: 0 auto;

}

.continue-signal-button:hover {
    background-color: #2e9c3d77;
  }

.actual-prediction{
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;

}

.instructions {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.sr-feedback{
    width: 100%;
    font-size: 1.09rem;
    font-weight: 450;
    color: #6a38c2;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}